:root {
  --cl1: #313131;
  --cl2: #d5d5d5;
  --tx1: #1d1d1f;
  --tx2: #6e6e73;
  --bcl: #f5f5f7;
  --bcc: #ffffff;
  --stt: #cc6d34;
  --bbt: #0071e3;
  --txt: 16px;
  --tipo-principal: Helvetica Neue, Helvetica, Arial, sans-serif;

}

/*Components: IsLoading*/
.spinner {
  border: 4px solid rgba(109, 140, 236, 0.693);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner--over {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Components: NavBar*/
.hedader {

}
.menu {
  background: var(--cl1);
  padding: 0.5em 0;


}

.menu__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 0 5%;
}

.menu__li {
  list-style-type: none;
  color: #d5d5d5;
}

.li__a {
  text-decoration: none;
  text-decoration: none;
  color: #d5d5d5;
}

.li__a:hover {
  color: #d5d5d5;
}

.a_logo {
  width: 20px;
  height: 20px;
}

.li__button {
  background-color: var(--cl1);
  border: none;
  color: var(--cl2);
}


/*Page:: HOME*/
.home {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.home__category {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 20%;
}

.category__input {
  border: 2px var(--tx1) solid;
  border-radius: 25px;
}

.category__input input {
  outline: none;

}

.input__search {
  font-size: .8em;
  padding: 0.5em;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 75%;
}

.input__btn {
  border: none;
  background-color: #fff;
  border-radius: 0 25px 25px 0;
  padding: .25em 0;
  width: 25%;
}

/*Home::=> Category*/
.category__option {
  padding-top: 0.5em;
}

.option__li {
  list-style-type: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

.option__btn {
  color: var(--cl1);
  font-size: .95em;
  font-weight: 600;

  padding: 0.25em 1em;
  border: none;
  border-radius: 25px;
}

/*Home::=> All products*/
.home__product {
  width: 80%;
}

.product__h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -.003em;
  text-align: left;
  margin-left: 4em;
}

.h1__span {
  color: #6e6e73;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.container__li {
  list-style-type: none;
}

.li__card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3em 0;
}

.card__li {
  display: block;
  height: 10em;
  margin-bottom: .5em;
}

.card__link .card__img {
  display: block;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  width: 100%;

}

.card__info {
  height: 10em;
}

.card__title {
  font-size: .95em;
  text-align: center;
  font-weight: 600;
}

.card__price {
  text-align: center;
  font-size: .85em;
}

.card__button {
  display: block;
  color: var(--bcl);
  border: none;
  background: var(--bbt);
  border-radius: 15px;
  font-size: .85rem;
  padding: .25em 1em;
  margin: 0 auto;
  margin-bottom: .5em;
}

.card__moreInfo {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.card__moreInfo:hover {
  text-decoration: underline;
}

.card__moreInfo i {
  margin-top: .25em;
}

.infor__p {
  color: var(--bbt);
}

/*Page:: ProductDetail*/
.detail {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section__carousel {
  width: 25em;
  max-width: 25em;
  padding: 0 2em;
  margin: 0 3em;
}

.section__carousel img {
  align-items: center;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.section__info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}

.info__title {
  font-weight: 600;
  color: var(--tx1);
}

.info__data {
  width: 100%;
  font-size: .85em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.info__data .data {
  padding: .5em;
  color: var(--tx2);
}

.info__detail {
  color: var(--tx2);
  text-align: justify;
}

.text__add {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.add__context {
  color: var(--tx2);
  list-style-type: none;
  margin-left: .4em;
}

.text__add i {
  padding-left: .4em;
}

.add__bag {
  margin-left: .4em;
  padding: 0;
}

.add__div {
  display: flex;
  flex-direction: column;
  margin-left: .4em;
}

.div__bag {
  font-weight: 500;
  color: var(--bcc);
  background-color: var(--bbt);
  border: none;
  border-radius: 10px;

  padding: .2em;
  margin-bottom: .9em;
}

.bag__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button__value1 {
  color: var(--cl2);
  border-radius: 12px 0 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 2em;
}

.button__value2 {
  color: var(--cl2);
  border-radius: 0 12px 12px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px;
  width: 2em;
}

.button__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50px;
  margin: 0;
}

.recommended {
  width: 100%;
  font-weight: 600;
  color: var(--bbt);
  display: block;
  text-align: start;
  padding-top: 2em;
}

.detail__recommended {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

/*formulario: Login*/
.form__bootstrap {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 400px;
  margin: 2em auto;
  padding: 1em;
}

.form__bootstrap .form__input {
  border-radius: 10px;
}

.form__div {
  width: 100%;
  font-family: var(--tipo-principal);
}

.div__title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.div__test {
  color: var(--bcl);
  background-color: var(--tx2);
  border-radius: 10px;
  padding: .5em 0;
  margin-bottom: .5em;
}

.form__div p {
  text-align: center;
}

.form__bootstrap Button {
  width: 100%;
  border-radius: 10px;
}











/*Page::Purchases*/
.page__purchases {
  margin: 0 5%;
}

.purchases_header {
  font-size: 1.15em;
  display: inline-flex;
  margin-top: 2em;
}

.header__link {
  text-decoration: none;
}

.link__title {
  color: var(--cl1);
  font-weight: 600;
  padding-left: .5em;
}

.purchases__subtitle {
  color: var(--tx2);
  font-weight: 700;
}

.purchases__section {
  padding-left: 2em;
}

.section__ul {
  padding: 0;
}

.section__li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: var(--bcc);
  padding: .5em;
  margin: 1em 0;
}

.section__ul {}

.section__li {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: .5em;  
}

.li__container {
  padding: 0 1em;
}

.date__p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}
.container__data {
  margin: 0;
}
.container__data--brand {
  color: var(--tx2);
  font-size: .85em;
  font-weight: 600;
}
.container__data--title {}
.container__data--price{
  color: var(--cl1);
  font-weight: 600;
  margin-bottom: 1em;
}

/*Cart-Slice*/
.cart{
  font-size: var(--tipo-principal);
}
.cart__div {
  /* background-color: violet; */
  padding: 0 1em;
}
.div__cart {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.div__cart i {
  color: rgba(211, 37, 37, 0.882);
}
.cart__header {
  color: var(--tx2);
  font-size: .80rem;
  font-weight: 700;
  margin: 0;
}
.cart__deleteIcono {
  border: none;
  background: none;
}

.cart__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__quantify{
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 45px;
}
.footer__p {
  font-size: .85rem;  
}
.footer__p b {
  color: var(--tx2);
}

.cart__check {
  border-top: 1px solid var(--bbt);
}
.check__header {
  display: flex;
  justify-content: space-between;
  padding-top: .5em;
}
.check__total {
  color: var(--tx2);
  font-weight: 600;
}
.check__price {
  font-weight: 600;
}
.check__button {
  color: var(--bcl);
  border: none;
  background-color: var(--bbt);
  border-radius: 9px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .15em 0;
  width: 100%;
}

/*footer*/
.section__footer {
  background-color: var(--tx1);
  padding: 3.5em 0;
  bottom: 0;
  /* position: relative; */
}
.footer__header {
  width: 95%;
  margin: 0 auto;
}
.header__title {
  color: var(--bcl);
  font-size: 1.55rem;
  font-weight: 600;
  text-align: center;
}

/* 
em= toma medidas relativas al contenedor
rem= toma medidas relativas de la raiz
*/